* {
    margin: 0;
    border: border-box;
}
.navbar {
    height: 6vw;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-left {
    display: flex;
}
.nav-right {
    display: flex;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-amaz {
    background-image: url("images/amazon_logo2.png");
    height: 5.5vw;
    width: 15vw;
    background-size: cover;
}
.nav-ind {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.5vw;
    padding-left: 1.2vw;
    padding-right: 1.4vw;
}
.nav-ser {
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.nav-input{
    height: 2.7vw;
    border: 0px solid transparent;
    width: 30vw;
    font-size: 1.5vw;
}
.nav-select {
    height: 3vw;
    font-size: 1.4vw;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search-ico {
    height: 2.9vw;
    width: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(255, 230, 0);
    
}
.nav-hello {
    display: flex;
    height: 5.5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.nav-ret {
    display: flex;
    height: 5.5vw;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
}
.nav-car {
    display: flex;
    height: 5.5vw;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.navbar2 {
    display: flex;
    background-color: #375959;
    height: 4vw;
    align-items: center;
    color: white;
}
.nav-all {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    padding: 0.5vw;
    font-size: 1.5vw;
}
.nav-rest {
    display: flex;
    align-items: center;
}
.nav-rest p{
    color: white;
    font-size: 1.5vw;
    padding: 0.5vw;
    margin-left: 1vw;
}
.main {
    background-color: antiquewhite;
    width: 97%;
    margin: auto;
}
.main-back {
    background-image: url("images/background3.jpg");
    background-size: cover;
    height: 35vw;
    display: flex;
    justify-content: center;
}
.main-para {
    height: 2.5vw;
    width: 96%;
    background-color: white;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

/* main cont 1 */

.main-cont {
    display: flex;
    justify-content: space-evenly;

}
.box1 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box2 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box3 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box4 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.gaming1 {
    display: flex;
    margin-top: 2vw;
}
.cont-1 {
    background-image: url("images/main_boxes/headset.jpg");
    background-size: cover;
    width: 48%;
    height: 7vw;
}
.cont-2 {
    background-image: url("images/main_boxes/keyboard.jpg");
    background-size: cover;
    width: 48%;
    height: 7vw;
}
.gaming2 {
    display: flex;
    margin-top: 4vw;
}
.cont-3 {
    background-image: url("images/main_boxes/mouse.jpg");
    background-size: cover;
    width: 48%;
    height: 7vw;
}
.cont-4 {
    background-image: url("images/main_boxes/chair.jpg");
    background-size: cover;
    width: 48%;
    height: 7vw;
}
.seemore {
    position: absolute;
    bottom: 1.5vw;
    font-size: 1vw;
    margin-left: 1vw;
}
.gaming-pc {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes/gaming_pc.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}
.tedy {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes/teddy_bear.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}
.cont-5 {
    background-image: url("images/main_boxes/dining.jpg");
    background-size: cover;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
}
.cont-6 {
    background-image: url("images/main_boxes/home.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.cont-7 {
    background-image: url("images/main_boxes/kitchen.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.cont-8 {
    background-image: url("images/main_boxes/health.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}


/* main cont 2 */


.box11 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box12 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box13 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.box14 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}
.gaming11 {
    display: flex;
    margin-top: 2vw;
}
.cont-11 {
    background-image: url("images/main_boxes2/jeans.jpg");
    background-size: cover;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
}
.cont-12 {
    background-image: url("images/main_boxes2/tops.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.gaming12 {
    display: flex;
    margin-top: 4vw;
}
.cont-13 {
    background-image: url("images/main_boxes2/dresses1.jpg");
    background-size: cover;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
}
.cont-14 {
    background-image: url("images/main_boxes2/shoes.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.cont-15 {
    background-image: url("images/main_boxes2/dresses2.jpg");
    background-size: cover;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
}
.cont-16 {
    background-image: url("images/main_boxes2/knits.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.cont-17 {
    background-image: url("images/main_boxes2/jackets.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}
.cont-18 {
    background-image: url("images/main_boxes2/jewelry.jpg");
    background-size: cover;
    margin-right: auto;
    width: 42%;
    height: 7vw;
}

.offdeals {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes2/box1.jpg");
    background-size: cover;
    height: 18vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}
.off-text {
    position: relative;
    font-size: 0.8vw;
}
.amaz_box {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes2/amaz_box.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}

/* main cont 3 */

.main-cont1 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 18vw;
    margin-top: 2vw;
}
.main1-para {
    font-size: 1.6vw;
    margin-left: 1vw;
}

.wide-box {
    margin-top: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wide-box img {
    height: 12vw;
}

.box21 {
    background-color: white;
    width: 22%;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}

.personal-comp {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes3/personalcomp.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}

.box4-chair {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes3/chair.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}

.box4-laptop {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes3/laptop.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}

.box4-brush {
    width: 90%;
    background-position: center;
    background-image: url("images/main_boxes3/brush.jpg");
    background-size: cover;
    height: 21vw;
    margin-left: auto;
    margin-top: 1vw;
    margin-right: auto;
}















/* bottom of website  */

.foot {
    background-color: antiquewhite;
    margin-top: 2vw;
}
.back {
    background-color: #395c80;
    height: 3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.back:hover {
    background-color: #446e98;
}
.back a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 1.5vw;
}
.credits {
    display: flex;
    justify-content: space-evenly;
    height: 30vw;
    background-color: #2e4864;
    color: white;
    font-size: 1.4vw;
}
.foot-div1 {
    margin-top: 5vw;
}
.foot-div2 {
    margin-top: 5vw;
}
.foot-div3 {
    margin-top: 5vw;
}
.foot-div4 {
    margin-top: 5vw;
}
.foot-amaz {
    margin-top: 0.1vw;
    background-color: #2e4864;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bye {
    display: flex;
    justify-content: right;
    font-size: 1vw;
}

/* end
 Made by Akash Malik  */